Repository nikitastryuk/Express-typescript-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

.lintstagedrc:

{
  "*.{json,txt}": [
      "prettier --write", 
      "git add"
  ],
  "src/**/*.ts": [
    "prettier --write",
    "tslint --fix",
    "git add"
  ]
}

test3
  .lintstagedrc
Due: none

test5
  src/index.ts
  src/test.json
Due: prettier --write, tslint --fix

basic setup, swagger WIP
  .DS_Store
  .env
  .lintstagedrc
  .vscode/launch.json
  .vscode/settings.json
  bin/index.js
  bin/specification/openapi.json
  bin/src/components/documentation/documentation.route.js
  bin/src/components/info/info.controller.js
  bin/src/components/info/info.route.js
  bin/src/database.js
  bin/src/index.js
  bin/src/server.js
  package-lock.json
  package.json
  setup.txt
  specification/openapi.json
  specification/schemas/info.json
  src/components/documentation/documentation.route.ts
  src/components/info.1/info.controller.ts
  src/components/info.1/info.route.ts
  src/components/info/info.controller.ts
  src/components/info/info.route.ts
  src/database.ts
  src/index.ts
  src/server.ts
  src/test.json
  src/util/error.ts
  tsconfig.json
  tslint.json
Due: prettier --write, tslint --fix

error handler
  .DS_Store
  .editorconfig
  .env
  .gitignore
  .huskyrc
  .lintstagedrc
  .vscode/launch.json
  bin/specification/openapi.json
  bin/src/components/documentation/documentation.route.js
  bin/src/components/info/info.controller.js
  bin/src/components/info/info.route.js
  bin/src/database.js
  bin/src/index.js
  bin/src/server.js
  package-lock.json
  package.json
  setup.txt
  specification/openapi.json
  specification/schemas/info.json
  specification/swagger/index.json
  specification/swagger/paths.json
  specification/swagger/paths/info.json
  specification/swagger/tags.json
  src/components/info.1/info.controller.ts
  src/components/info.1/info.route.ts
  src/components/user/user.controller.ts
  src/components/user/user.route.ts
  src/config/database.ts
  src/config/server.ts
  src/helpers/error.ts
  src/index.ts
  tsconfig.json
  tslint.json
Due: prettier --write, tslint --fix

app, server, db setup
  .env
  src/components/documentation/documentation.route.ts
  src/components/user/user.controller.ts
  src/components/user/user.route.ts
  src/config/database.ts
  src/config/express.application.ts
  src/config/express.server.ts
  src/config/server.ts
  src/helpers/checkEnv.ts
  src/helpers/error.ts
  src/index.ts
Due: prettier --write, tslint --fix

users crud
  package-lock.json
  package.json
  restClient/users.http
  src/components/documentation/documentation.route.ts
  src/components/user/user.controller.ts
  src/components/user/user.model.ts
  src/components/user/user.route.ts
  src/components/user/user.validation.ts
  src/config/express.application.ts
  src/config/express.server.ts
  src/helpers/checkEnv.ts
  src/helpers/error.ts
  src/types/joi-objectid.d.ts
  tsconfig.json
Due: prettier --write, tslint --fix

swagger stuff
  restClient/users.http
  specification/swagger/components.json
  specification/swagger/index.json
  specification/swagger/paths.json
  specification/swagger/paths/info.json
  specification/swagger/paths/user/users.id.json
  specification/swagger/paths/user/users.json
  specification/swagger/schemas/user/chunks/location.json
  specification/swagger/schemas/user/userCreateSchema.json
  specification/swagger/schemas/user/userReadSchema.json
  specification/swagger/schemas/user/userUpdateSchema.json
  specification/swagger/tags.json
  src/components/user/user.controller.ts
  src/components/user/user.model.ts
  src/components/user/user.route.ts
  src/components/user/user.validation.ts
  src/config/database.ts
Due: prettier --write, tslint --fix

jest setup
  package-lock.json
  package.json
  restClient/users.http
  src/components/user/user.controller.ts
  src/components/user/user.validation.ts
  src/helpers/helpers.ts
  src/index.ts
  tests/first.test.ts
Due: prettier --write, tslint --fix

user tests
  .DS_Store
  .env
  jest.config.js
  package-lock.json
  package.json
  restClient/users.http
  specification/swagger/components.json
  specification/swagger/paths/user/users.json
  src/components/user/user.controller.ts
  src/components/user/user.test.ts
  src/components/user/user.validation.ts
  src/config/database.ts
  src/config/express.server.ts
  src/index.ts
  tests/first.test.ts
  tsconfig.json
  tslint.json
Due: prettier --write, tslint --fix

readme WIP, debugging stuff
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  README.md
  package-lock.json
  package.json
  specification/openapi.json
  src/components/user/user.validation.ts
  src/types/@wegolook/joi-objectid.d.ts
  src/types/joi-objectid.d.ts
  tsconfig.json
Due: prettier --write, tslint --fix

readme
  README.md
Due: none

redis WIP
  .DS_Store
  .env
  .gitignore
  README.md
  package-lock.json
  package.json
  restClient/users.http
  src/components/info/info.test.ts
  src/components/user/user.controller.ts
  src/components/user/user.test.ts
  src/components/user/user.validation.ts
  src/config/cache.ts
  src/config/express.application.ts
  src/index.ts
  src/types/@wegolook/joi-objectid.d.ts
  src/typings/joi-objectid.d.ts
  src/typings/joi.d.ts
  src/typings/mongoose.d.ts
  src/typings/redis.d.ts
  tsconfig.json
  tslint.json
Due: prettier --write, tslint --fix

redis stuff done
  .env
  .vscode/launch.json
  package-lock.json
  package.json
  restClient/users.http
  src/components/info/info.test.ts
  src/components/user/user.controller.ts
  src/config/cache.ts
  src/config/database.ts
  src/config/express.application.ts
  src/config/express.server.ts
  src/helpers/index.ts
  src/index.ts
  src/typings/joi.d.ts
  src/typings/mongoose.d.ts
  src/typings/redis.d.ts
  tslint.json
Due: prettier --write, tslint --fix

readme updated
  README.md
  src/components/user/user.controller.ts
Due: prettier --write, tslint --fix

circleci config
  .circleci/config.yml
  src/index.ts
Due: prettier --write, tslint --fix

ci config fix
  .circleci/config.yml
Due: none

ci test w/o redis and mongo images
  .circleci/config.yml
Due: none

ci fix2
  .circleci/config.yml
Due: none

ci test
  README.md
Due: none

ci test2
  .circleci/config.yml
  README.md
Due: none

added linting to ci
  .circleci/config.yml
Due: none

readme ci update
  README.md
Due: none

ci config update
  .circleci/config.yml
  README.md
Due: none

test ci
  dev.Dockerfile
  docker-compose.yml
  src/index.ts
Due: prettier --write, tslint --fix

Delete .DS_Store
  .DS_Store
Due: none

one class for express and server
  src/config/express.server.ts
  src/config/server.ts
  src/index.ts
Due: prettier --write, tslint --fix

signleton instances for Server/Repo/Controllers, dependency injection
  restClient/users.http
  src/components/info/info.controller.ts
  src/components/info/info.route.ts
  src/components/info/info.test.ts
  src/components/user/user.controller.ts
  src/components/user/user.model.ts
  src/components/user/user.repo.ts
  src/components/user/user.route.ts
  src/components/user/user.test.ts
  src/components/user/user.validation.ts
  src/config/cache.ts
  src/config/server.ts
  src/helpers/typeGuards.ts
  src/index.ts
Due: prettier --write, tslint --fix

user tests fix
  src/components/user/user.route.ts
  src/components/user/user.test.ts
Due: prettier --write, tslint --fix

docker files removed, pckgs update
  dev.Dockerfile
  docker-compose.yml
  package.json
Due: prettier --write
